name: Build

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up JDK 11
      uses: actions/setup-java@v1
      with:
        java-version: 11
    - name: Grant execute permission for gradlew
      run: chmod +x gradlew
    - name: Build with Gradle
      run: ./gradlew build test
    - name: Integration tests
      env:
        APIURL:  http://localhost:8080/api
      run: |
        chmod +x postman_tests/run-api-tests.sh
        ./gradlew run &
        ./postman_tests/run-api-tests.sh
        ./gradlew --stop
    - name: Release
      run: ./gradlew release -Prelease.useAutomaticVersion=true
